@font-face {
  font-family: 'gilroyextrabold';
  src: url("../fonts/gilroyextrabold-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylight';
  src: url("../fonts/gilroylight-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 30px;
  font-size: 15px;
  color: #464646;
  background: white;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  position: relative;
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  padding: 10px 43px;
  min-width: 190px;
  max-width: 260px;
}

.button:hover {
  background: #ffc600;
}

.button:focus,
.button:active {
  background: #ffc600;
  color: rgba(0,0,0,0.3);
}

.button::after {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  content: "";
  border: 4px solid #ffc600;
  z-index: -1;
}

.modal {
  display: none;
}

/*Главная страница*/
/*Header*/
.logo {
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.01em;
}

.logo:hover {
  color: rgba(0,0,0,0.6);
  cursor: pointer;
}

.logo:active {
  color: rgba(0,0,0,0.3);
  cursor: pointer;
}

.user-nav {
  background: #f7e296;
}

.search__input {
  color: #000000;
  letter-spacing: 0.01em;
  background: #f7e296;
  border: 0;
  opacity: 0.3;
}

.search__input:hover{
  opacity: 0.6;
}

.search__input:active,
.search__input:focus {
  opacity: 1;
}

.nav-list {
  list-style: none;
}

.nav-list__item a:hover,
.main-list__item a:hover {
  color: rgba(0,0,0,0.6);
}

.nav-list__item a:active,
.nav-list__item a:focus,
.main-list__item a:active,
.main-list__item a:focus {
  color: rgba(0,0,0,0.3);
}

.main-nav {
  background: #f7e296;
}

.main-list{
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: black;
  text-transform: uppercase;
  list-style: none;
  letter-spacing: 0.2em;
}

.catalog-list {
  list-style: none;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 36px;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0.01em;
  text-transform: none;
}

/*Слайдер*/
.slider__title {
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
  color: #000000;
}

.description__spec td{
  font-family: 'gilroylight', Helvetica, sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}

.description__spec th{
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #464646;
}

.switchers {
  list-style: none;
}

.content-title {
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #000000;
}

/*Горизонтальный каталог - иконки*/
.catalog-row {
  list-style: none;
}

.catalog-row__item a{
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.catalog-row__item a:focus,
.catalog-row__item a:active
{
  color: rgba(0,0,0,0.3);
}

/*Сервис*/
.service-list{
  list-style: none;
}

.service {
  background-color: #e5e5e5;
}

.button--service:active,
.button--service:focus
 {
  background-color: #000000;
  color: #f7e184;
}

.transport-list {
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #000000;
}

/*Партнеры*/
.partners-logo {
  list-style: none;
}

.partners-logo__item--gji img:hover {
  background: url("../img/logo-dji.jpg");
}

.partners-logo__item--spadgets img:hover {
  background: url("../img/logo-spadgets.jpg");
}

.partners-logo__item--gopro img:hover {
  background: url("../img/logo-gopro.jpg");
}

.partners-logo__item--vive img:hover {
  background: url("../img/logo-vive.jpg");
}

/*Footer*/
.page-footer {
  background: #464646;
}

.user-nav--footer a {
  color: rgba(255, 255, 255, 0.7);
}

.user-nav--footer a:hover {
  color: rgba(255, 255, 255, 1);
}
.user-nav--footer a:focus,
.user-nav--footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-list__item--footer a{
  color: #ffffff;
}

.main-list__item--footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}
.main-list__item--footer a:focus,
.main-list__item--footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.logo--footer {
  color: #ffc600;
}

.logo--footer:hover {
  color: rgba(255,190,0,0.6);
  cursor: pointer;
}

.logo--footer:active {
  color: rgba(255,190,0,0.3);
  cursor: pointer;
}

.user-nav--footer {
  background: #464646;
}

.main-list--footer {
  background: #464646;
}

.page-footer__contacts {
  color: #ffffff;
}

/*Страница каталога*/

.breadcrumbs,
.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0,0,0,0.3);
  list-style: none;
}

.breadcrumbs a:hover {
  color: rgba(0,0,0,0.6);
}

.breadcrumbs a:active,
.breadcrumbs a:focus {
  color: rgba(0,0,0,0.1);
}

/*Карточка товаров*/

.content-subtitle {
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
}

.products-catalog {
  list-style: none;
}

.product-info:hover .product-info-container{
  display:block;
}

/*Фильтры*/

.color {
  border: 0;
}

.bluetooth {
  border: 0;
}

.color-list {
  list-style: none;
}

.bluetooth-list {
  list-style: none;
}

.product-info__price {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.product-info__compare {
  font-size: 13px;
  color: rgba(0,0,0,0.5);
}

.product-info__compare:hover {
  color: rgba(0,0,0,1);
}

.product-info__compare:active,
.product-info__compare:focus {
  color: rgba(0,0,0,0.2);
}

.filters {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.filters__header,
.catalog__header {
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;

}

.cost__value {
  font-family: 'gilroylight', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0,0,0,0.2);
}

.filters__form label {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 40px;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.01em;
}

.sorting-list {
  list-style: none;
}

.sorting-list__item a{
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  line-height:18px;
  font-size: 14px;
  color: rgba(0,0,0,0.3);
}

.sorting-list__item a:hover{
  color: rgba(0,0,0,0.6);
}

.sorting-list__item a:active,
.sorting-list__item a:focus
{
  color: rgba(0,0,0,0.1);
}

.sorting-list__item--current a{
  color: rgba(0,0,0,0.3);
  pointer-events: none;
}

/*Пагинация товаров*/
.pagination-list {
  list-style: none;
  background-color: rgba(235,235,235,0.8)
}

.pagination-list__item a{
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgba(0,0,0,0.3);
}

.pagination-list__item a:hover{
  color: rgba(0,0,0,0.6);
}

.pagination-list__item a:focus,
.pagination-list__item a:active
{
  color: #000000;
}

.pagination-list__item--current a{
  color: #000000;
  pointer-events: none;
}

.pagination-list__more a{
  font-family: 'gilroyextrabold', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.pagination-list__more a:hover{
  background-color: #d9d9d9;
}

.pagination-list__more a:focus,
.pagination-list__more a:active
{
  color: rgba(0,0,0,0.3);
}
